html
{
  background: rgb(14, 26, 63) ;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.44rem;
  padding: 0 12%;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family: Verdana, sans-serif;
  font-size: .77rem;
}
form {
  border: 1px solid #f1f1f1;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  padding: 20px;
  border-radius: 4px;
}
@media screen and (max-width:1024px) {
  .body
   {
    display: inline;

  }
}
.header li {
  display: inline;
  padding-right: 2.22rem;
}

.header li a {
  text-decoration: none;
  color: #4a4a4a;
}
.titless {
  color: purple;
  text-align: center;
}
.titlu
{
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 41px;
text-align: center;
color: #FDFEFE;
}
.home
{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #FDFEFE;
}
.subtitlu
{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #FDFEFE;
}

@keyframes fade-in
{
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}



div
{
text-align:center;
}

.link
{
width: 513px;
height: 50px;
background: #FFFFFF;
border: 1px solid rgba(13, 7, 2, 0.6);
box-sizing: border-box;
padding: 10px;
border-radius: 4px;
}

.submit
{

padding: 10px;
font-family: Ubuntu;
font-style: normal;
font-size: 16px;

border-radius: 4px;
background-color: white;
}

.submit:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 20px 0 rgba(0,0,0,0.19);
}